sanskrit_data

# Database dependencies
#
# Idea: Rather than automatically install unnecessary database access modules (users may only be interested in interacting with a particular database through the interface) we should let them install them separately.

cloudant==2.14.0
couchdb # But ALERT: were using an unreleased version; a distribution does not exist for Py3.5 as of 20170828.
pymongo==3.11.0 # Includes the bson package.
